{% extends 'eshop/layout.html' %}

{% block content %}
    {% if latest_production_list %}
        {% for product in latest_production_list %}
            <div class="col-lg-4">
              <div class="product">
                <div class="top">
                  <a href="{% url 'products:read' product.id %}">{{ product.name }}</a>
                  <div>
                    <p>$AUD {{ product.price }}</p>
                  </div>
                </div>
                <div class="bottom">
                  <a href="{% url 'products:update' product.id %}">update</a>
                  <a href="{% url 'products:delete' product.id %}">delete</a>
                </div>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No products are available.</p>
    {% endif %}
{% endblock %}
